<home-add-food
  (addFoodEvent)="addFood($event)"
  class="mx-auto flex w-auto flex-row py-2 sm:max-w-sm md:max-w-md"
/>
<home-food-vote-list
  (clickVoteEvent)="clickVote($event)"
  [foodVoteList]="foodVoteList"
  class="mx-auto block w-auto sm:max-w-sm md:max-w-md"
/>

<button
  (click)="logout()"
  *ngIf="authService.hasValidAccessToken()"
  class="rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300"
>
  Logout
</button>
