@if (isAdding) {
  <input
    type="text"
    class="flex flex-grow appearance-none rounded-md px-4 text-slate-900 placeholder-slate-400 shadow-sm ring-1 ring-slate-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
    placeholder="Add food"
    [(ngModel)]="foodName"
  />
  <button
    (click)="addFood()"
    type="submit"
    class="ml-2 inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-400"
  >
    Submit
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="ms-2 h-3.5 w-3.5 text-white"
    >
      <path
        d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z"
      />
    </svg>
  </button>
} @else {
  <button
    (click)="isAdding = true"
    class="group ml-auto flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="me-2 h-3.5 w-3.5 text-white"
    >
      <path
        fill-rule="evenodd"
        d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
        clip-rule="evenodd"
      />
    </svg>
    New
  </button>
}
